<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li id=""><a href="{% url "core:dashboard" %}"><i class="fa fa-dashboard"></i><span >Dashboard</span></a></li>
            <li id=""><a href="{% url "core:all_contacts"%}"><i class="fa fa-bar-chart"></i> <span>All Contacts</span></a></li>
            <li class="header">Settings</li>
            <li id=""><a href="{% url "accounts:settings" %}"><i class="fa fa-gear"></i> <span>My settings</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>