{% extends "base.html" %}
{% load static %}
{% block header %}
{% endblock %}
{% block content_wrapper %}
<section class="content-header">
    {% block content-header %}
        <h1>
            All Contacts
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'core:dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">All Contacts</li>
        </ol>
    {% endblock %}
</section>
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Latest Contacts</h3>
                <button type="button" class="btn btn-primary btn-sm edit_modal pull-right" data-cid="null" id="add_contact"  data-toggle="modal" data-target="#contact_modal">+</button>
            </div>
            <div class="box-body">
                <div class="tab-pane active">
                    <table id="allContactsTable" class="table table-hover" width="100%">
                        <thead>
                            <tr>
                                <th width="1%">ID</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th class="sorting">City</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Date Birthday</th>
                                <th id="date_add">Date Add</th>
                                {% if user.is_superuser %}
                                <th id="user_row" width="15%">User</th>
                                {% else %}
                                <th id="user_row" width="15%"></th>
                                {% endif %}
                                <th>Buttons</th>
                            </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>
                                <select class="form-control" id="city-filter">
                                <option value="0" selected>All</option>
                                    {% for row in city_name %}
                                    <option value="{{ row }}">{{ row }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>
                                <select class="form-control" id="country-filter">
                                <option value="0" selected>All</option>
                                    {% for row in country_name %}
                                    <option value="{{ row }}">{{ row }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

    <div id="contact_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="contact_title_modal">Manage Contacts Form</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal"> {% csrf_token %}
                        <div class="form-group" hidden>
                            <label for="contact_id" class="col-sm-3 control-label">ID</label>
                            <div class="col-sm-7 " id="contact_id_div">
                                <input id="contact_id" class="form-control" type="text" value="" readonly/>
                                <span class="help-block" id="contact_id_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_name" class="col-sm-3 control-label">Contact Name</label>
                            <div class="col-sm-7" id="contact_name_div">
                                <input id="contact_name" class="form-control" type="text" value=null required>
                                <span class="help-block" id="contact_name_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_surname" class="col-sm-3 control-label">Contact Surname</label>
                            <div class="col-sm-7" id="contact_surname_div">
                                <input id="contact_surname" class="form-control" type="text" value=null required>
                                <span class="help-block" id="contact_surname_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_city" class="col-sm-3 control-label">City</label>
                            <div class="col-sm-7" id="contact_city_div">
                                <input id="contact_city" class="form-control" type="text" value="">
                                <span class="help-block" id="contact_city_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_country" class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-7" id="contact_country_div">
                                <input id="contact_country" class="form-control" type="text" value="">
                                <span class="help-block" id="contact_country_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_phone" class="col-sm-3 control-label">Mobile phone</label>
                            <div class="col-sm-7" id="contact_phone_div">
                                <input id="contact_phone" class="form-control" type="text" value=null>
                                <span class="help-block" id="contact_phone_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_email" class="col-sm-3 control-label">E-mail</label>
                            <div class="col-sm-7" id="contact_email_div">
                                <input id="contact_email" class="form-control" type="email" value=null required>
                                <span class="help-block" id="contact_email_help"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact_b_date" class="col-sm-3 control-label">Birthday date:</label>
                            <div class="col-sm-7" id="contact_b_date_div">
                                <div class='input-group date'>
                                    <input type="text" id="contact_b_date" class="form-control">
                                    <span class="help-block" id="contact_b_date_help"></span>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" disabled="false">
                            <label for="contact_add_date" class="col-sm-3 control-label">Date Add</label>
                            <div class="col-sm-7" id="contact_add_date_div">
                                <div class='input-group date'>
                                    <input type="text" id="contact_add_date" class="form-control">
                                    <span class="help-block" id="contact_add_date_help"></span>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-danger pull-left" id="delete_contact">Delete</button>
                    <button type="button" class="btn btn-warning" id="new_contact" hidden="hidden">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_bottom %}
    <script type="text/javascript" src="{% static 'js/core/all_contcts_datatable.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/fileinput/fileinput.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
{% endblock %}