{% extends "base.html" %}
{% load static %}
{% block header %}
{% endblock %}
{% block content_wrapper %}
<section class="content-header">
    {% block content-header %}
        <h1>
            All User
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'core:dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">All user</li>
        </ol>
    {% endblock %}
</section>
<section class="content">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Latest Users</h3>
            </div>
            <div class="box-body">
                <div class="tab-pane active">
                    <table id="allUsersTable" class="table table-hover" width="100%">
                        <thead>
                            <tr>
                                <th width="1%">ID</th>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Token GetVero</th>
                            </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block js_bottom %}
    <script type="text/javascript" src="{% static 'js/core/all_users_datatable.js' %}"></script>
{% endblock %}