{% extends "base.html" %}
{% load staticfiles %}
{% block header %}

{% endblock %}
{% block content_wrapper %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% block content-header %}
            <div class="row">
                <div class="col-md-3">
                    <div class="box-header with-border">
                      <h1 class="box-title"><b></b>Dashboard</b> </h1>
                    </div>
                </div>
                {% if user.is_superuser %}
                <div class="col-lg-3 col-xs-6">
                {% else %}
                <div class="col-md-8">
                {% endif %}
                    <div class="box box-solid box-info ">
                        <div class="box-header with-border">
                        <h2 class="box-title">Total Contacts -<b>{{ count_of_all_contacts }} </b> </h2>
                        </div>
                    </div>
                </div>
                {% if user.is_superuser %}
                <div class="col-lg-3 col-xs-6">
                  <div class="box box-solid box-info ">
                    <div class="box-header with-border">
                      <h2 class="box-title">Total Clients -<b>{{ count_of_all_users }} </b> </h2>
                    </div>
                   </div>
                </div>
                {% endif %}
            </div>
            <ol class="breadcrumb">
            <li><a href="{% url 'core:dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            </ol>
        {% endblock %}
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="col-lg-3 col-xs-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h2 >Data change</h2>
                </div>
                <div class="box-body">
                    <div class="tab-pane active form-group">
                        <p>Welcome to the <b>Contacts programme </b>.
                        You can import your contacts in the file csv or <a href="https://www.getvero.com/"> GetVero</a>
                    </div>
                    <div class="box-info header with-border" >
                        <h3>Contacts All</h3>
                    </div>
                    <div class="form-group" id="upload_contacts">
                        <div class="box-group">
                            <div class="box-header">
                                <label class="control-label"> Import from csv </label>
                            </div>
                            <form action="{% url 'core:upload_csv_file' %}" method="post" id="uploadCsvForm" enctype="multipart/form-data">
                                {% csrf_token %}
                                <label class="control-label">Select file</label>
                                <input type="file" name="csvFile" id="csvFile" data-show-preview="false"
                                       accept=".csv" data-allowed-file-extensions='[".csv"]'>
                                <div class="box-footer">
                                    <button type="submit" id="uploadFile" class="" style="float: right;">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group" id="import_csv" hidden>
                        <div class="box-info">
                            <p id="csv_file_name" ><b>Upload successful</b></p>
                            <div class="box-footer">
                                <button id = "contacts_csv" class="pull-right"> Add contacts with csv-file </button>
                            </div>
                        </div>
                        <div class="box-footer">
                            <br>
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="box-header">
                                <label> Export contacts in GetVero </label>
                            </div>
                           <div class="box-info">
                               <div class="box-footer">
                                 <button id = "contacts_vero" class="pull-right"> Export </button>
                               </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Latest Contacts</h3>
                </div>
                <div class="box-body">
                    <div class="tab-pane active">
                        <table id="contactTable" class="table table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>ID </th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>City</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Date Birthday</th>
                                <th>Date Add</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <div>
    </section>

    <div id="ModalVero" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Header modal window -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Export contacts in GetVero</h4>
                </div>
                <!-- Body modal window -->
                <div class="modal-body">
                    <h4 id="question">Are you sure that you want to export contacts to GetVero?</h4>
                    <div id="overlay" hidden>
                        <div id="vero_in_process">
                            <p class="text-center">
                            <strong>Data export in progress, this can take a few minutes...</strong>
                            <i class="fa fa-refresh fa-spin"></i>
                            </p>
{#                            <img src="{% static 'images/moving_gears.gif' %}" class="img-responsive center-block">#}
                        </div>
                    </div>
                </div>
                <!-- Footer modal window -->
                <div class="modal-footer" id="footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button id="ExportVero" type="button" class="btn btn-warning pull-left">Export</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_bottom %}
    <script src="{% static 'js/core/dashboard.js' %}"></script>
{% endblock %}