{% extends 'base_auth.html' %}
{% load static %}
{% block body %}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Contacts</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            {% if updated %}
                <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> Done!</h4>
                Created user successfully.
                </div>
             {% endif %}
            <form action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                <p class="text-red text-center">{{ message }}</p>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="username" placeholder="Username or Email">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary submit">Log in</button>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="separator text-center" >
                        <p class="change_link">For the first time on the site?  &nbsp;
                            <a href="/register" class="to_register"> Create Account </a>
                        </p>
                        <div class="clearfix"></div>
                        <br />
                    </div>
                    </div>
            </form>
         </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.1.4 -->
    <script src="{% static "plugins/jQuery/jQuery-2.1.4.min.js" %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/accounts/login.js" %}"></script>
</body>
{% endblock %}
