{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
    <title>Settings</title>
{% endblock %}
{% block content_wrapper %}
    {% if updated %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Done!</h4>
            Settings was updated successfully.
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Settings
                        <small></small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox" id="float_right">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ user.first_name }} {{ user.last_name }}
                           </h3>
                    </div>
                    <form class="form-horizontal" method="POST" action="{% url "accounts:settings" %}">
                        {% csrf_token %}
                        <div class="box-body">
                            <div class="form-group">
                                <label for="username" class="col-sm-3 control-label">Username</label>
                                <div class="col-sm-6 {% if form.username.errors %} has-error {% endif %}">
                                    <input name="username" type="text" class="form-control" id="username"
                                           value="{{ form.username.value }}" placeholder="Username">
                                    <span class="help-block">{{ form.username.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="first_name" class="col-sm-3 control-label">First Name</label>

                                <div class="col-sm-6 {% if form.first_name.errors %} has-error {% endif %}">
                                    <input name="first_name" type="text" class="form-control"
                                           value="{{ form.first_name.value }}" id="first_name" placeholder="First Name">
                                    <span class="help-block">{{ form.first_name.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name" class="col-sm-3 control-label">Last Name</label>

                                <div class="col-sm-6 {% if form.last_name.errors %} has-error {% endif %}">
                                    <input name="last_name" type="text" class="form-control"
                                           value="{{ form.last_name.value }}" id="last_name" placeholder="Last Name">
                                    <span class="help-block">{{ form.last_name.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-3 control-label">Email</label>

                                <div class="col-sm-6 {% if form.email.errors %} has-error {% endif %}">
                                    <input name="email" type="email" class="form-control" value="{{ form.email.value }}"
                                           id="email" placeholder="Email">
                                    <span class="help-block">{{ form.email.errors }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone_number" class="col-sm-3 control-label">Phone Number</label>

                                <div class="col-sm-6 {% if form.phone_number.errors %} has-error {% endif %}">
                                    <input name="phone_number" type="text" class="form-control"
                                           value="{{ form.phone_number.value }}" id="phone_number"
                                           placeholder="Phone Number">
                                    <span class="help-block">{{ form.phone_number.errors }}</span>
                                </div>
                            </div>
                            <!--Vero Settings-->
                            <div class="form-group">
                                <label for="vero_api_key" class="col-sm-3 control-label">API Auth Token</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                           name="vero_api_key_readonly"
                                           value="{{ form.vero_api_key_readonly.value }}" id="vero_api_key"
                                           placeholder="API Auth Token Get Vero" readonly="readonly">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <!-- Vero Settings block end -->
                            <div class="form-group">
                                <div class=" col-sm-offset-3 col-sm-6 ">
                                    <input type="button" id="change_password" class="btn btn-danger col-sm-12"
                                           value="Change Password">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-warning pull-right">Save</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_bottom %}
    <script src="{% static "js/accounts/settings.js" %}"></script>
{% endblock %}